.home-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

p-speedDial {
    position: fixed;
    width: 4rem;
    height: 4rem;
    bottom: 2rem;
    left: 2rem;
}

.header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-list {
    width: 50%;
}

.user-info {
    display: flex;
    align-items: center;
    height: fit-content;
}
.user-info > *{
    margin: 0 1rem;
}