.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

p-speedDial {
    position: fixed;
    width: 4rem;
    height: 4rem;
    bottom: 2rem;
    left: 2rem;
}

.header {
    padding: 1rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255,0.8);
}

.team-list {
    width: 80%;
    height: 80%;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    height: fit-content;
}
.user-info > *{
    margin: 0 1rem;
}