<div class="new-team-container">
    @if (freeUsers != null && freeUsers.length > 0) {
         <div class="card flex justify-content-center">
            <p-dropdown 
            [options]="freeUsers" 
            [(ngModel)]="freeUserSelected" 
            optionLabel="email" 
            placeholder="Selectionner un utilisateur" />
        </div>

        <p-button label="Selectionner" (click)="selectUser()"></p-button>
    }
    @else {
        <h2>Aucun utilisateur disponible</h2>
    }
</div>

