<div class="user-container">
  <div class="info">
    <p class="name">{{ user.firstname }} {{ user.lastname }}</p>
    <p class="email">{{ user.email }}</p>
  </div>
  <div class="actions">
    @if (canRemvoeMemberFromTeam) {
      <button 
        pButton 
        pRipple 
        type="button" 
        icon="pi pi-user-minus" 
        class="p-button-rounded p-button-danger p-button-outlined"
        (click)="removeMemberFromTeam()"
        title="Supprimer de l'équipe">
      </button>
    }
    @if (canDeleteUser) {
      <button 
        pButton 
        pRipple 
        type="button" 
        icon="pi pi-times" 
        class="p-button-rounded p-button-danger p-button-outlined"
        (click)="deleteUser()"
        title="Supprimer de l'utilisateur">
      </button>
    }    
  </div>
</div>
  