@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to left bottom, #00bdff, #00a9ff, #0093ff, #0079ff, #005aff, #2049ff, #3a33ff, #5200ff, #6500ff, #7500ff, #8300ff, #9000ff);
}

h1 {
    font-family: "Ubuntu Sans", sans-serif;
    text-transform: uppercase;
    font-style: normal;
}

app-root {
    width: 100%;
    height: 100%;
}