.tab {
    padding: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 10%;
}

button {
    margin-left: 10px;
}